<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Yummy Recipes - Dashboard</title>
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!--Main-->
        {% if not det %}
        <script type="text/javascript">
            window.location.href = "/"
        </script>
        {% endif %}

        <main>
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">Yummy Recipes</a>
                </div>
                
                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/home">Home</a></li>
                        <li class="active"><a href="/dashboard">User Dashboard</a></li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="input-group center">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Logout</a></li>
                    </ul>
                    {% if det %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/dashboard">{{ det[1] }}</a></li>
                    </ul>
                    {% endif %}
                </div>
            </nav>
            <!--user settings nav-->
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                    <a class="navbar-brand" href="#">DASHBOARD</a>
                    </div>
                    <ul class="nav navbar-nav">
                    <li><a href="/dashboard">Recipes</a></li>
                    <li><a href="#myModalUpdateUser" data-toggle="modal" data-target="#myModalUpdateUser" >User Details</a></li>
                    </ul>
                </div>
            </nav>

            <!--myModalAddCategory-->
            <div id="myModalAddCategory" class="modal-dialog modal-lg" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">YUMMY RECIPES: Add Category</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/add_category" method="POST">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
                                    <input type="text" name="category" placeholder="CATEGORY" class="form-control" id="category"
                                           required="required">
                                </div>
                                <br>
                                <div class="form-group">
                                    <input class="btn btn-success btn-md" type="submit" name="submit" id="addcategory" value="CREATE CATEGORY">
                                </div>
                                <div class="form-group">
                                    <p class="text-center">{{msg}}</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--myModalAddCategory end-->

            <!--myModalEditCategory-->
            <div id="myModalEditCategory" class="modal-dialog modal-lg" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">YUMMY RECIPES: Edit Category</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/edit_category" method="POST">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>                                        
                                    <select class="form-control" name="select_item"  required="required">
                                        <option value="">SELECT CATEGORY TO EDIT</option>
                                        {% for item in category_list %}
                                        <option value="{{ item }}">{{ item }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
                                    <input type="text" name="optcategory" placeholder="CATEGORY" class="form-control" id="optcategory"
                                           required="required">
                                </div>
                                <br>
                                <div class="form-group">
                                    <p class="text-center">{{msg}}</p>
                                </div>
                                <div class="form-group">
                                    <input class="btn btn-info btn-md" type="submit" name="updatecategory" value="UPDATE CATEGORY">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--myModalEditCategory end-->

            <!--myModalDeleteCategory end-->
            <div id="myModalDeleteCategory" class="modal-dialog modal-lg" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">YUMMY RECIPES: Delete Category</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/delete_category" method="POST">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
                                    <select class="form-control" name="item"  required="required">
                                        <option value="">SELECT CATEGORY TO DELETE</option>
                                        {% for item in category_list %}
                                        <option value="{{ item }}" >{{ item }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <br>
                                <div class="form-group">
                                    <p class="text-center">{{msg}}</p>
                                </div>
                                <div class="form-group">
                                    <input class="btn btn-danger btn-md" type="submit" name="deletecategory" value="DELETE CATEGORY">
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--myModalDeleteCategory end-->


            <!--myModalAddRecipe-->
            <div id="myModalAddRecipe" class="modal-dialog modal-lg" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">YUMMY RECIPES: Add Recipe</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/add_recipe" method="POST">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>                                        
                                    <select class="form-control" name="category" required="required">
                                        <option value="">SELECT CATEGORY TO ATTACH</option>
                                        {% for item in category_list %}
                                            <option value="{{ item }}" >{{ item }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    <input type="text" name="recipename" placeholder="RECIPE NAME" class="form-control" id="recipename" required="required">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                                    <textarea type="text" name="description" placeholder="RECIPE DESCRIPTION" class="form-control" id="description" required="required"></textarea>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-glass"></i></span>
                                    <textarea type="text" name="ingredients" placeholder="RECIPE INGREDIENTS" class="form-control" id="ingredients"  required="required"></textarea>
                                </div>
                                <br>
                                <div class="form-group">
                                    <input class="btn btn-success btn-md" type="submit" name="submitrecipe" value="CREATE RECIPE">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--myModalAddRecipe end-->


            <!--myModalDeleteRecipe-->
            <div id="myModalDeleteRecipe" class="modal-dialog modal-lg" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">YUMMY RECIPES: Delete Recipe</h4>
                            </div>
                            <div class="modal-body">
                                <form action="/delete_recipe" method="POST">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                        <select class="form-control" name="recipe" required="required">
                                            <option value="">SELECT RECIPE TO DELETE</option>
                                            {% for i in rec%}
                                            <option value="{{i[0]}}">{{i[0]}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <input class="btn btn-danger btn-md" type="submit" name="deleterecipe" value="DELETE RECIPE">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--myModalDeleteRecipe end-->

            <!--myModalEditRecipe-->
            <div id="myModalEditRecipe" class="modal-dialog modal-lg" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">YUMMY RECIPES: Edit Recipe</h4>
                            </div>
                            <div class="modal-body">
                                <form action="/edit_recipe" method="POST">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>                                        
                                        <select class="form-control" name="edit_recipe" required="required">
                                            <option value="">SELECT RECIPE TO EDIT</option>
                                            {% for i in rec%}
                                            <option value="{{i[0]}}">{{i[0]}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>                                        
                                        <select class="form-control" name="new_category" required="required">
                                            <option value="">SELECT CATEGORY</option>
                                            {% for i in category_list %}
                                            <option value="{{i}}">{{i}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                        <input type="text" name="recipe_name" placeholder="RECIPE NAME" class="form-control" id="recipe_name"
                                               required="required">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                                        <textarea type="text" name="new_description" placeholder="RECIPE DESCRIPTION" class="form-control" id="new_description"  required="required"></textarea>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-glass"></i></span>
                                        <textarea type="text" name="new_ingredients" placeholder="RECIPE INGREDIENTS" class="form-control"
                                                  id="new_ingredients"  required="required"></textarea>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <input class="btn btn-info btn-md" type="submit" name="updaterecipe" value="UPDATE RECIPE">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--myModalEditRecipe end-->

            <!--myModalUpdateUser-->
            <div id="myModalUpdateUser" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                                    &times;
                                </button>
                                <h4 class="modal-title">YUMMY RECIPES</h4>
                            </div>
                            <div class="modal-body">
                                <form action="/update_user" method="POST">
                                    <legend>EDIT USER DETAILS</legend>
                                    {% if det %}
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-eye-open"></i></span>
                                        <input type="text" name="username" placeholder="USERNAME" class="form-control" id="username" value="{{ det[0] }}" required="required" disabled>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input type="text" name="fullname" placeholder="FULLNAME" class="form-control" id="username" value="{{ det[1] }}" required="required" disabled>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        <input type="email" name="email" placeholder="EMAIL" class="form-control" id="email" value="{{ det[2] }}" required="required" disabled>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input type="password" name="password" placeholder="PASSWORD" class="form-control" id="password" value="{{ det[3] }}" required="required" disabled>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input type="password" name="confirmpassword" placeholder="CONFIRM PASSWORD" class="form-control" id="confrimpassword" value="{{ det[3] }}" required="required"
                                               disabled>
                                    </div>
                                    {% endif %}
                                    <br>
                                    <div class="form-group">
                                        <input class="btn btn-info btn-md" type="submit" id="updateuser" value="UPDATE ACCOUNT INFO" disabled>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            <!--table to display recipes-->

            <div class="container">
              <h2 class="text-center">RECIPES TABLE</h2>
              <p class="text-center">Yummy Recipes</p>
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>RECIPE NAME</th>
                    <th>CATEGORY NAME</th>
                    <th>DETAILS</th>
                    <th>INGREDIENTS</th>
                    <th>ADDED BY</th>
                  </tr>
                </thead>
                <tbody>
                {% for i in rec %}
                {% if det and i[4] == det[0] %}
                  <tr>
                    <td>{{i[0]}}</td>
                    <td>{{i[1]}}</td>
                    <td>{{i[2]}}</td>
                    <td>{{i[3]}}</td>
                    <td>{{i[4]}}</td>
                  </tr>
                {% endif %}
                {% endfor %}
                </tbody>
              </table>
            </div>

        </div>
        </main>
    <!--Footer-->
    <footer>
            <div class="footer-top"> 
                <div class="container">
                    <div class="row text-center">
                        <a href="https://github.com/code-sleuth"><i class="fa fa-github fa-2x"></i>GitHub</a>
                    </div>
                    <div class="row text-center">
                        <p>Yummy Recipes&trade; </p>
                    </div>
                </div> 
            </div>  
        </footer>
        <!--Footer end-->
        <div class="copyright">
            <div class="container">
                <div class="row text-center">
                    <p>Copyright © 2017 All rights reserved. Ibrahim Mbaziira</p>
                </div>
            </div>
        </div>   
    </body>
</html>